
<h1>Listing Heros</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Picture</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @heros.each do |hero| %>
      <tr>
        <% if user_signed_in? %>
  		<% if current_user.id == hero.user_id %>
  		<td><%= hero.name %></td>
        <td><%= hero.picture %></td>
        <td><%= hero.user_id %></td>
        <td><%= link_to 'Show', hero %></td>
        
				<td><%= link_to 'Edit', edit_hero_path(hero) %></td>
				<td><%= link_to 'Destroy', hero, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	    <% end %>
	<% end %>
      </tr>
    <% end %>
  </tbody>
  
</table>

<br>

<%= link_to 'New Hero', new_hero_path %>
