
<div class="row">
  <div class="col-md-6">
    <%= image_tag(@hero.picture_url, :width => "100%") if @hero.picture.present? %>
  </div>

  <div class="col-md-4">
    <p><h3>Hero: <%= @hero.name %></h3></p>

    <p><b>Creator ID: </b><%= @hero.user_id %></p>

  	<p>
      	<%= link_to 'Edit', edit_hero_path(@hero) %> |
		<%= link_to 'Back', heros_path %>
    </p>
    
    
    <h4><%= @hero.name %> super-powers:</h4>
	<div id="powers_list">
		<%= render partial: 'powers', locals: { powers: @powers } %>
	</div>
  </div>
  <div class="col-md-2">			
			<h4>Create<br/>new super-power<br/>for <%= @hero.name %>:</h4>
			<br/>
			<div id="new_power_holder">
				<%= render 'powers/form' %>
			</div>  
  </div>
</div>

