<%= form_for(@power, remote:true) do |f| %>

  <% if @power.errors.any? %>
    <div id="error_explanation" class="error_message">
      <p><%= pluralize(@power.errors.count, "error") %> prohibited this power from being saved:</p>

      <ul>
      <% @power.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <br/>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.number_field :value %>
  </div>
  <br/>
  <div class="field">
    <%= f.label :picture %><br>
    <%= f.file_field :picture %>
  </div>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :hero_id%>
  <br/>
  <p><div class="actions">
    <%= f.submit %>
  </div></p>
<% end %>


