
<h2>Listing Powers</h2>

<p><%= paginate @powers %></p>

<% @powers.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |power| %>      
	  	<div class="col-md-4">
	  		<% if user_signed_in? %>
	  			<% if current_user.id == power.user_id %>
       				<%= link_to (( image_tag(power.picture_url, :width => '100px') if power.picture.present? )), power %>
        			<h4>Name: <%= link_to power.name, power %></h4>
        			<h4>Value: <%= link_to power.value, power %></h4>
        			<h5>User: <%= link_to power.user_id, power %></h5>
        			<h5>Hero:  <%= link_to power.hero_id, power %></h5>
					<br>
					<%= link_to 'Show', power %> |
					<%= link_to 'Edit', edit_power_path(power) %> | 
					<%= link_to 'Destroy', power, method: :delete, data: { confirm: 'Are you sure?' } %>	   
	    		<% end %>
	    	<% end %>
	    </div>	        
    <% end %>
  </div>
<% end %>

<br>

<%= link_to 'New Power', new_power_path %>
